<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LETTO</title>

    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body id = footer_body>
<footer id="footer">
    <div class="copyright">
        <p>Copyright © Letobooks Corp. All rights reserved.</p>
    </div>
    <div class="address">
        <p>도서출판 레토 | 대표 : 김현진 | 사업자 등록번호 : 166-88-02062<br>
            E-Mail : accounting@letobooks.co.kr<br>
            서울특별시 마포구 양화로 156, 1916호(동교동, LG팰리스빌딩)</p>
    </div>
</footer>
</body>
</html>
