<section class="app">
    <aside class="sidebar">
        <nav class="sidebar-nav">

            <ul>
                <li>
                    <a href="#"><span class="">홈</span></a>
                    <ul class="nav-flyout">
                    </ul>
                </li>
                <li>
                    <a href="#"><span>정산관리</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#">작품목록</a>
                        </li>
                        <li>
                            <a href="#">작품별</a>
                        </li>
                        <li>
                            <a href="#">작가별</a>
                        </li>
                        <li>
                            <a href="#">플랫폼별</a>
                        </li>
                        <li>
                            <a href="#">지급내역</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="">공지사항</span></a>
                </li>
            </ul>
        </nav>
    </aside>
</section>