table {
    border-collapse: collapse;
}

.container {
    width: 500px;
    margin:0 auto;
}

.button.button-small {
    height: 30px;
    line-height: 30px;
    padding: 0px 5px;
}

select {
    display: block;
    width: 100%;
    height: 32px;
    padding:6px 12px;
    font-size: 12px;
    text-align: center;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0);
    box-shadow: inset 0 1px 1px rgb(0 0 0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: auto;
    margin-right: auto;
}

select > option {
    position:absolute;
    top:100%;
    left:0;
}

#board-search .search-window {
    padding: 15px 0;
    background-color: #f9f7f9;
}

#board-search .search-window .search-wrap {
    position: relative;
    /*   padding-right: 124px; */
    margin: 0 auto;
    width: 90%;
    max-width: 564px;
    background-color: #f9f7f9;
}

.btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-dark {
    background: #555;
    color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.notice{
    border-radius:5px;
    background-color: white;
    color: black;
    padding: 4px 8px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
}

.addbtn {
    float: right;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    margin-bottom: 5px;
    font-size: 13px;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn-primary_1 {
    float: left;
    border-color: #fff;
}

.btn-primary_2 {
    float: left;
    color: #fff;
    border-color: #fff;
}

#board-list .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}
.board-table a:hover {
    text-decoration: underline;
}
.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 70px;
    text-align: center;
}

.board-table .th-writer {
    width: 50px;
}

.board-table .th-title {
    width: 80px;
}

.board-table .th-suninsae {
    width: 80px;
}

.board-table .th-gaeyak {
    width: 80px;
}

.board-table .th-panmae {
    width: 80px;
}

.board-table .th-monthchong {
    width: 100px;
}

.board-table .th-monthsoon {
    width: 100px;
}

.board-table .th-rs {
    width: 90px;
}

.board-table .th-jungsan {
    width: 100px;
}

.board-table .th-sunsu {
    width: 100px;
}

.board-table .th-edit {
    width: 40px;
}

.board-table th, .board-table td {
    padding: 7px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}

.board-table tbody th p{
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,0);
}

.modal .modal-dialog {
    max-width: 400px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.modal .modal-content {
    border-radius: 3px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 );
    box-shadow: 0 3px 9px rgb(0 0 0);
}

form {
    display: block;
    margin-top: 0em;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal .modal-title {
    display: inline-block;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.close {
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group_2 {
    margin-bottom: 15px;
    width:49%;
    display: inline-block;
    padding:0.7px;
}


.modal form label {
    font-weight: normal;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.form-control {
    display: block;
    width: 93%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control_2 {
    display: block;
    width: 85%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
