<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_m}">
<head>
    <meta charset="UTF-8">
    <title>LETTO</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<div layout:fragment="content">
    <h>회원전용페이지입니다.</h>
    <div id = "board-list">
        <div class="container">
            <div class = "write" style="margin:0">
                <a class = "notice" style="float:left">최근 공지사항</a>
                <a class = "writebtn" type=button href='/notice' style="float:right">더보기</a>
            </div>

            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-writer">작성자</th>
                    <th scope="col" class="th-date">작성일</th>
                </tr>
                </thead>
                <tbody>
                <!-- CONTENTS !-->
                <tr th:each="board : ${boardList}">
                    <td>
                        <span th:text="${board.id}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/member/post/' + ${board.id}}">
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${board.writer}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>